.container {

  /* overflow-x: auto; para permitir a rolagem horizontal */
  border-collapse: collapse;
  overflow-x: scroll;
}

thead th, tbody td {
  border-bottom: 1px solid #ddd; /*  apenas a borda inferior */
  border-top: 1px solid #ddd; /*  apenas a borda superior */
  padding: 10px;
}

thead th {
  background-color: #f2f2f2;
  font-weight: 700;
}

tbody tr:hover {
  background-color: #e0e0e0;
}
